
.navBar{
    position: fixed;
    top: 0%;
    width: 100%;
    height: 30px;
    padding: 20px;

    display: flex;
    justify-content: flex;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(24px);

}

.logo{
    position: fixed;
    left: 20px;
    width: 80px;
    cursor: pointer;

}

.Avatar {
    cursor: pointer;
    position: fixed;
    right: 60px;
    width:30px;
}


.search_bar{
    display: flex;
    flex-direction:row  ;
    column-gap :0.9em;
    align-items: baseline;
    
    justify-content:space-around;
    position: fixed;
    right : 200px;
    /* top: 18px; */
    /* width    :50px; */
    color:#fff;
    cursor: pointer;


}

.search_box{
    outline: none;
    border: none;
    border-radius: 0.23em;
    width: 16em;
    height: 2.3em;
    background-color: rgb(27, 26, 26);
    color: #fff;
    padding-left: 10px;
    caret-color: red;

}


